<% include ../partials/layout %>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
			<h2>Listado de ponencias</h2>
			<hr>
			<button class="btn btn-default" onclick="location.href='/papers/download';">Descargar</button>
		</div>
		<div class="media-object center">
		<div class="col-xs-12" style="height:12px;"></div>
		<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
			<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Título
					</th>
					<th>
						Nombre
					</th>
					<th>
						Email
					</th>
					<th>
						Resumen
					</th>
				</tr>
			</thead>
			<tbody>

				<% papers.forEach(function(paper) { %>
					<tr>
						<td>
							<a href="/papers/<%= paper.id %>">
								<%= paper.id %>
							</a>
						</td>
						<td>
							<%= paper.title %>
						</td>
						<td>
							<%= paper.name %>
						</td>
						<td>
							<%= paper.email %>
						</td>
						<td>
							<%= paper.abstract %>
						</td>
					</tr>
					<% }); %>

			</tbody>
		</table>
	</div>
	</div>

	<% include ../partials/footer %>
