<% include ../partials/layout %>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
			<h2>Listado de ponencias</h2>
			<hr>
			<button class="btn btn-default" onclick="location.href='/<%= app_name %>/admin/papers/download';">Descargar</button>
		</div>
		<div class="media-object center">
			<div class="col-xs-12" style="height:12px;"></div>
			<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
				<thead>
					<tr>
						<th>
							ID
						</th>
						<th>
							Nombre
						</th>
						<th>
							Email
						</th>
						<th>
							Título
						</th>
						<th>
							Tipo
						</th>
						<th>
							Duración
						</th>
					</tr>
				</thead>
				<tbody>

					<% papers.forEach(function(paper) { %>
						<tr>
							<td>
								<a href="/<%= app_name %>/admin/papers/<%= paper.id %>">
									<%= paper.id %>
								</a>
							</td>
							<td>
								<%= paper.name %>
							</td>
							<td>
								<a href="mailto:<%= paper.name %><<%= paper.email %>>?subject=Participación JASYP '18"> <%= paper.email %> </a>
							</td>
							<td>
								<%= paper.title %>
							</td>
							<td>
								<% if (paper.type == "T") { %>
									Charla
									<% } else { %>
										Taller
										<% } %>
							</td>
							<td>
								<% if (paper.length == "S") { %>
									Corta
									<% } else { %>
										Larga
										<% } %>
							</td>
						</tr>
						<% }); %>

				</tbody>
			</table>
		</div>
	</div>

	<% include ../partials/footer %>
